* {
    margin: 0;
    padding:0;
    box-sizing: content-box;
    font-family: 'Fredoka', sans-serif;
    
}

/* header rules  */
h1 {
    color: #e53170;
    text-align: center;
    padding: 25px 0px 15px 0px;
    font-weight: 700;
}
/* qua non riesco a impostare il grassetto  */
/* risolto problema font weight, non avevo importato i vari weight da google fonts */

/* p rules  */

p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

}


/* container rules  */

.container {
    width: 75%;
    margin: auto;
}


/* test float  */
 .photo-section {
    height: 250px;
    
}

.photo-row, .photo-row-2 {
    height: 50%;
    
}
/* DOMANDA come centrare la card all interno della row? */

.photo-row-2 {
   
}

.card {
    display: inline-block;
    width: 32%;
    height: 90px;
    background-color: black;
    color: white;
    line-height: 30px;
}
/* qua non riesco a riempire la row con le foto, mi avanza uno spazio */



.card.two, .card.five {
    margin-left: 15px;
    margin-right: 15px;
}

img {
    display: inline-block;
    float: left;
    width: 90px;
}

/* interno carta  */


.nome {
    font-size: 18px;
    font-weight: 500;
}

.mail {
    color:#46aed5;
}

/* qua non riesco a impostare margini/padding intorno al testo nella carta  */